/DocumentPortal/DocumentPortal/obj/Debug/net10.0/compressed/bqhc0oxw7s-{0}-8220w2dg95-8220w2dg95.gz
/DocumentPortal/DocumentPortal/obj/Debug/net10.0/compressed/jknktfxam2-{0}-68cqchcwqv-68cqchcwqv.gz
/DocumentPortal/DocumentPortal/obj/Debug/net10.0/compressed/zp060kai2l-{0}-68cqchcwqv-68cqchcwqv.gz
/DocumentPortal/DocumentPortal/obj/Release/net10.0/compressed/bqhc0oxw7s-{0}-8220w2dg95-8220w2dg95.gz
/DocumentPortal/DocumentPortal/obj/Release/net10.0/compressed/jknktfxam2-{0}-68cqchcwqv-68cqchcwqv.gz
/DocumentPortal/DocumentPortal/obj/Release/net10.0/compressed/zp060kai2l-{0}-68cqchcwqv-68cqchcwqv.gz
/DocumentPortal/DocumentPortal/obj/Release/net10.0/win-x86/compressed/publish/bqhc0oxw7s-{0}-8220w2dg95-8220w2dg95.br
/DocumentPortal/DocumentPortal/obj/Release/net10.0/win-x86/compressed/publish/jknktfxam2-{0}-68cqchcwqv-68cqchcwqv.br
/DocumentPortal/DocumentPortal/obj/Release/net10.0/win-x86/compressed/publish/zp060kai2l-{0}-68cqchcwqv-68cqchcwqv.br
/DocumentPortal/DocumentPortal/obj/Release/net10.0/win-x86/compressed/bqhc0oxw7s-{0}-8220w2dg95-8220w2dg95.gz
/DocumentPortal/DocumentPortal/obj/Release/net10.0/win-x86/compressed/jknktfxam2-{0}-68cqchcwqv-68cqchcwqv.gz
/DocumentPortal/DocumentPortal/obj/Release/net10.0/win-x86/compressed/zp060kai2l-{0}-68cqchcwqv-68cqchcwqv.gz
/DocumentPortal/DocumentPortal/Properties/PublishProfiles/FolderProfile.pubxml.user
